.settings/
.vs/
backups/
j2534/.vs/
j2534/j2534/Release/
j2534/j2534/x64/
libusb/
Release/
x64/
.cproject
.project
*.vcxproj.user
*.dylib
*.log
*.o
*.so
.DS_Store
extras/macos_openport_iso9141_mode09
